# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [16]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [6]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

In [88]:
drinks['continent'].fillna('NoA', inplace=True)

### Step 4. Which continent drinks more beer on average?

In [89]:
drinks.continent.unique().tolist()

['AS', 'EU', 'AF', 'NoA', 'SA', 'OC']

In [91]:
for i in range(0,len(drinks.continent.unique().tolist())):
    
    continent = drinks.continent.unique().tolist()[i]
    sel = drinks.continent == continent

    average = np.round(drinks.beer_servings[sel].mean(),1)

    print('Arerage number of bear servings', average, ' in a continent ',continent)

print('\n','Europe drinks more beer on average!')

Arerage number of bear servings 37.0  in a continent  AS
Arerage number of bear servings 193.8  in a continent  EU
Arerage number of bear servings 61.5  in a continent  AF
Arerage number of bear servings 145.4  in a continent  NoA
Arerage number of bear servings 175.1  in a continent  SA
Arerage number of bear servings 89.7  in a continent  OC

 Europe drinks more beer on average!

### Step 5. For each continent print the statistics for wine consumption.

In [75]:
type(drinks.continent.unique().tolist()[2]) == np.float

False

In [92]:
for i in range(0,len(drinks.continent.unique().tolist())):
    
    continent = drinks.continent.unique().tolist()[i]
   
    sel = drinks.continent == continent

    average = np.round(drinks.wine_servings[sel].mean(),1)
    median = np.round(drinks.wine_servings[sel].median(),1)

    print('Arerage number of wine servings', average, ' in a continent ',continent)
    print('Median number of wine servings',median , ' in a continent ',continent,'\n')

Arerage number of wine servings 9.1  in a continent  AS
Median number of wine servings 1.0  in a continent  AS

Arerage number of wine servings 142.2  in a continent  EU
Median number of wine servings 128.0  in a continent  EU

Arerage number of wine servings 16.3  in a continent  AF
Median number of wine servings 2.0  in a continent  AF

Arerage number of wine servings 24.5  in a continent  NoA
Median number of wine servings 11.0  in a continent  NoA

Arerage number of wine servings 62.4  in a continent  SA
Median number of wine servings 12.0  in a continent  SA

Arerage number of wine servings 35.6  in a continent  OC
Median number of wine servings 8.5  in a continent  OC

### Step 6. Print the mean alcoohol consumption per continent for every column

In [93]:
for i in range(0,len(drinks.continent.unique().tolist())):
    continent = drinks.continent.unique().tolist()[i]
    
    print(' >>>   ',continent, '  <<<  ')
    for j in range(len(drinks.columns[1:-1][:])):

        alk_info = drinks.columns[1:-1][j]

        sel = drinks.continent == continent

        average = np.round(drinks[alk_info][sel].mean(),1)

        print('Arerage number of ', alk_info,' ', average,'\n')

 >>>    AS   <<<
Arerage number of  beer_servings   37.0

Arerage number of  spirit_servings   60.8

Arerage number of  wine_servings   9.1

Arerage number of  total_litres_of_pure_alcohol   2.2

 >>>    EU   <<<
Arerage number of  beer_servings   193.8

Arerage number of  spirit_servings   132.6

Arerage number of  wine_servings   142.2

Arerage number of  total_litres_of_pure_alcohol   8.6

 >>>    AF   <<<
Arerage number of  beer_servings   61.5

Arerage number of  spirit_servings   16.3

Arerage number of  wine_servings   16.3

Arerage number of  total_litres_of_pure_alcohol   3.0

 >>>    NoA   <<<
Arerage number of  beer_servings   145.4

Arerage number of  spirit_servings   165.7

Arerage number of  wine_servings   24.5

Arerage number of  total_litres_of_pure_alcohol   6.0

 >>>    SA   <<<
Arerage number of  beer_servings   175.1

Arerage number of  spirit_servings   114.8

Arerage number of  wine_servings   62.4

Arerage number of  total_litres_of_pure_alcohol   6.3

 >>>    OC   <<<
Arerage number of  beer_servings   89.7

Arerage number of  spirit_servings   58.4

Arerage number of  wine_servings   35.6

Arerage number of  total_litres_of_pure_alcohol   3.4

### Step 7. Print the median alcoohol consumption per continent for every column

In [94]:
for i in range(0,len(drinks.continent.unique().tolist())):
    continent = drinks.continent.unique().tolist()[i]
    
    print(' >>>   ',continent, '  <<<  ')
    for j in range(len(drinks.columns[1:-1][:])):

        alk_info = drinks.columns[1:-1][j]

        sel = drinks.continent == continent

        average = np.round(drinks[alk_info][sel].median(),1)

        print('Median number of ', alk_info,' ', average,'\n')

 >>>    AS   <<<
Median number of  beer_servings   17.5

Median number of  spirit_servings   16.0

Median number of  wine_servings   1.0

Median number of  total_litres_of_pure_alcohol   1.2

 >>>    EU   <<<
Median number of  beer_servings   219.0

Median number of  spirit_servings   122.0

Median number of  wine_servings   128.0

Median number of  total_litres_of_pure_alcohol   10.0

 >>>    AF   <<<
Median number of  beer_servings   32.0

Median number of  spirit_servings   3.0

Median number of  wine_servings   2.0

Median number of  total_litres_of_pure_alcohol   2.3

 >>>    NoA   <<<
Median number of  beer_servings   143.0

Median number of  spirit_servings   137.0

Median number of  wine_servings   11.0

Median number of  total_litres_of_pure_alcohol   6.3

 >>>    SA   <<<
Median number of  beer_servings   162.5

Median number of  spirit_servings   108.5

Median number of  wine_servings   12.0

Median number of  total_litres_of_pure_alcohol   6.8

 >>>    OC   <<<
Median number of  beer_servings   52.5

Median number of  spirit_servings   37.0

Median number of  wine_servings   8.5

Median number of  total_litres_of_pure_alcohol   1.8

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame